body {
  font-family:
    "Noto Sans SC", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: url("/img/bg.png"), url("/img/bg_howatama.png") #fcfdff;
}

.header,
.footer,
h1,
h2 {
  font-family:
    Arvo, "Noto Sans SC", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .fade- {
    &enter {
      opacity: 0;

      &-active {
        opacity: 1;
        transition: opacity 500ms;
      }
    }

    &exit {
      opacity: 1;

      &-active {
        display: none;
        opacity: 0;
        transition: opacity 500ms;
      }
    }
  }
}

.header {
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;

  a {
    display: inline-block;
    margin: 0;
    padding: 0 1.2em;
    height: 60px;
    font-size: 1.2em;
    text-decoration: none;
    color: #4c4c80;
    transition: all .5s ease;
    line-height: 60px;

    &:hover {
      color: #fd979b;
      background-color: #e8e7e3;
    }
  }

  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 992px;
  }
}

.footer {
  padding: 20px;
  height: 50px;
  font-size: .94rem;
  text-align: center;
  background-color: rgba(253, 254, 255, 90%);
  box-shadow: 0 -2px 8px #f0f1f2;

  p {
    margin-top: 0;
  }
}

.card {
  border: 1px solid #bababa;
  border-radius: 8px;
  padding: 2.5em;
  background-color: rgba(253, 254, 255, 95%);
  box-shadow: 0 0 1.8em #ced3d3;

  &-md {
    box-sizing: border-box;
    margin: 2.5rem auto;
    width: 992px;
  }

  &-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 768px;
    height: 26em;
    text-align: center;
    color: #333;
    background-color: rgb(253, 254, 255, 90%);

    &__title {
      margin-bottom: 0;
      font-size: 2.25em;
    }

    &__inner,
    &__bottom {
      font-size: 1.25em;
    }
  }
}

.post-title {
  margin: 0 auto;
  text-align: center;
  color: #4a4a5b;

  h2 {
    margin-bottom: .8rem;
    font-size: 2.625rem;
    color: #f00082;
  }
}

.post-content {
  line-height: 1.725;
  color: #4a4a5b;
  word-break: break-all;
  letter-spacing: .05em;

  p {
    margin: .8em auto;
    text-indent: 1em;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  ul li {
    margin: .8em 0;
  }

  h2 {
    position: relative;
    border-radius: 0 .5em .5em 0;
    padding: 5px 0 5px 20px;
    font-size: 1.3em;
    background-color: #fff8f8;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -.6rem;
      display: block;
      border-radius: .5em 0 0 .5em;
      width: .6em;
      background: #ffa9be;
      content: "";
    }
  }

  h3 {
    position: relative;
    margin: .5em 0;
    padding-left: .5em;
    font-size: 1.15em;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -.35em;
      display: block;
      width: .35em;
      background: #e3c1e7;
      content: "";
    }
  }
}

/* Responsive */

@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .header .header-main {
    width: auto;
  }

  .card-md {
    margin: 2.5rem .5rem;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .header,
  .card-index {
    font-size: 12px;
  }

  .header .header-main div a {
    padding: 0 .6em;
  }

  .card-index {
    margin: auto .5rem;
    width: auto;
  }
}
