body {
  font-family:
    Arvo, 'Noto Sans SC', 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  background-image: url('/img/bg.png'), url('/img/bg_howatama.png');
  background-size: 100%;
  background-color: #fcfdff;
}

a {
  text-decoration: none;
  color: #4c4c80;
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;

  a {
    display: inline-block;
    margin: 0;
    padding: 0 1.2em;
    height: 60px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 60px;
    transition: all 0.5s ease;

    &:hover {
      color: #fd979b;
      background-color: #e8e7e3;
    }
  }

  .outer {
    width: 992px;
    margin: 0 auto;

    .inner {
      float: right;
    }
  }
}

.footer {
  height: 50px;
  padding: 20px;
  font-size: 0.94rem;
  text-align: center;
  background-color: rgba(253, 254, 255, 0.93);
  box-shadow: 0 -2px 8px #f0f1f2;

  p {
    margin-top: 0;
  }
}

.card {
  border: 1px solid #bababa;
  border-radius: 10px;
  padding: 2em;
  background-color: rgba(253, 254, 255, 0.95);
  box-shadow: 0 0 1.8em #ced3d3;

  &_md {
    box-sizing: border-box;
    margin: 2.5rem auto;
    width: 992px;
  }

  &_index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 26em;
    width: 768px;
    color: #333;
    text-align: center;
    background-color: rgba(253, 254, 255, 0.9);

    .card__title {
      margin-bottom: 0;
      font-size: 2.25em;
    }

    .card__inner,
    .card__bottom {
      font-size: 1.25em;
    }
  }
}

.post-title {
  margin: 0 auto;
  color: #4a4a5b;
  text-align: center;

  h2 {
    margin-bottom: 0.8rem;
    font-size: 2.625rem;
    color: #f00082;
  }
}

.post-content {
  line-height: 1.725;
  font-size: 1.05em;
  color: #4a4a5b;
  word-break: break-all;

  p {
    margin: 0.8em auto;
    text-indent: 1em;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  h2 {
    position: relative;
    padding: 5px 0 5px 20px;
    border-radius: 0 0.5em 0.5em 0;
    font-size: 1.3em;
    background-color: #fff8f8;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: -0.6rem;
      top: 0;
      bottom: 0;
      width: 0.6em;
      background: #ffa9be;
      border-radius: 0.5em 0 0 0.5em;
    }
  }

  ul li {
    margin: 0.8em 0;
  }
}

/* Responsive */
@media only screen and (max-width: 992px) {
  .header .outer {
    width: auto;
  }

  html {
    font-size: 14px;
  }

  .card_md {
    width: auto;
    margin: 2.5rem 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header,
  .card_index {
    font-size: 12px;
  }

  .header .outer .inner a {
    padding: 0 0.6em;
  }

  .card_index {
    width: auto;
    margin: auto 0.5rem;
  }
}

.fade- {
  &enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 500ms;
    }
  }

  &exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 500ms;
      display: none;
    }
  }
}
